.table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(even) {
  background-color: grey;
}

tr:hover {
  background-color: yellow;
  cursor: pointer;
}
